* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

body {
    font-family: Arial;
}

.btn {
    display: block;
    padding: 7px 15px;
    background: #69070b;
    float: left;
    color: #fff;
    border-radius: 7px;
}

.btn-lg {
    font-weight: bold;
    font-size: 30px;
}

.btn-success {
    background: #007b3b;
}

.no-border {
    border: none !important;
}

/* start wrapper */
.wrapper {
    width: 901px;
    min-height: 650px;
    /*background: #c3c3c3;*/
    margin: auto;
}

/* header */
.wrapper header {
    overflow: hidden;
    /*background: antiquewhite;*/
    padding: 15px 0;
}

.wrapper header .logo {
    width: 20%;
    float: left;
}

.wrapper header nav {
    width: 70%;
    float: right;
    line-height: 40px;
}
.wrapper header nav ul {
    float: right;
}

.wrapper header nav ul li {
    float: left;
    margin-right: 15px;
}

.wrapper header nav ul li a {
    color: #000;
    border-right: 2px solid #bf802e;
    padding-right: 15px;
}

.wrapper .banner {
    height: 202px;
    background-image: url("../images/banner.png");
}

.wrapper .banner p {
    font-size: 25px;
    float: right;
    width: 50%;
    margin-top: 80px;
}
.wrapper .banner p span{
    font-size: 38px;
}

.wrapper main .content {
    width: 55%;
    overflow: hidden;
}

.wrapper main .content h1 {
    font-size: 25px;
    color: #007b3b;
    padding: 15px 0;
}

.wrapper main .content h6 {
    font-size: 13px;
    color: #0a356d;
    padding: 5px 0;
}

.wrapper main .content p {
    font-size: 12px;
    color: #9b9875;
    padding-bottom: 25px;
}
/*TASK*/

.wrapper main  .Articles{
    float : left;
    width: 66%;
    
}


.wrapper main .Articles .Arts{
    width: 40%;
    float: left;
    overflow: hidden;
    margin: 0 0.5% 15px;
    border-left: 3px dotted #000;
    padding-left: 12px;
   
}   

.wrapper main .Articles .Arts h1{
    font-size: 25px;
    color: #007b3b;
    padding: 15px 0;
    
}

.wrapper main .Articles .Arts h6{
    font-size: 13px;
    color: #0a356d;
    padding: 5px 0;
}

.wrapper main .Articles .Arts p{
    font-size: 12px;
    color: #9b9875;
    padding-bottom: 25px;

}

.wrapper main .Articles .Arts img{
    padding-top: 15px;
}
 
.wrapper main  .best {
    width: 30%;
    height: 70px;
    float: right;
    background-color: grey;
    overflow: hidden;
    margin-top: -87px;  

}

.wrapper main .Events  h1{
    font-size: 25px;
    color: #007b3b;
    padding: 15px 0;  
}

.wrapper main .Events .info h6{
    font-size: 13px;
    color: #0a356d;
    padding: 5px 0;
    
}

.wrapper main .Events .info p{
    font-size: 12px;
    color: #9b9875;
    padding-bottom: 25px;
}

.wrapper main .Events{
   float: right;
   width: 33%;
   overflow: hidden;
   margin-top: -150px;
   background-color:#ffcc99;
   border-style: solid;
   border-color:#e07c11 ;
   margin-bottom: 20px;
}

footer{
    width: 50%;
    height: 75px;
    background-color: #cc6600;
    margin:auto;
}

footer .nav-footer {
    width: 70%;
    
}

footer .nav-footer ul {

    padding-top: 20px;
    text-align: center;
    padding-left: 300px; 

}

footer .nav-footer  ul li {
    float: left;
    margin-right: 15px; 
    font-size: small;
    overflow: hidden;
}

footer .copy-rights{
    float: left;
    overflow: hidden;
    padding-left: 300px;
    font-size: small;
    margin-top: 10px;
   
}





















