/* reset style */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
}

/* Global */
body {
    font-family: 'Teko', Helvetica, sans-serif;
}

.container {
    width: 1240px;
    margin: auto;
}

.fex-clear {
    clear: both;
}

.row {
     overflow: hidden;
    /*text-align: center;*/
    font-size: 0;
}
.col {
    display: inline-block;
    vertical-align: top;
    min-height: 200px;
    /*background: #333;*/
    padding: 0 15px;
}

.col-2 {
    width: 50%;
}
.col-3{
    width :33.333%;
}

.col-4 {
    width: 25%;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

/*TASK*/

.font-18 {
    font-size: 18px;
}

.font-40 {
    font-size: 40px;
}

.pt-80{
    padding-top: 80px; 
}

.pb-50{
    padding-bottom: 50px;
}

.font-16 {
    font-size: 16px;
    line-height: 2;
}

.mrl-7{
    padding-left: 10px;
    padding-right: 10px;
}

.card {
    height: 450px;
    width: 95%;
    background-size: cover;
    padding:10px;
}

.text-center{
    text-align: center;

}

.why h3, .why p{
    width: 50%;
    margin: auto;
}

.easy{
    width: 450px;
}

.font-25{
    font-size: 25px;
}

.p-80{
    padding: 80px 80px;
}

.meet h3, .meet p{
    width: 75%;
    margin: auto;
}
.font-80{
    font-size: 80px;
}

.pl-50{
    padding-left: 350px;
}



