.bg{
    background-color: #3b5998;
    
}

.font-color{
    color: white;
}

.bg-color{
    background-color: #eee;
}

.button{
    padding: 20px 30px;
    font-size:25px;
    font-weight: 700;
    background-color: #3b5998;
    color: #ffffff;
    border-radius: 50px;
    border: none;
}


.blue-bg{
    background-color: #3b5998;
}

.f-85{
    font-size: 85px;
}

.button-2{
    padding: 20px 30px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 50px;
    border: none;
}
.btn-light{
    background-color: #ffffff;
    columns: #333333

}

.padding{
    padding: 150px 0;
}
