@font-face {
    font-family: myFirstFont;
    src: url(fonts/Poppins-SemiBold.otf);
  }
  
  *{
    font-family: Arial, Helvetica, sans-serif;
    
}

.p-37{
    padding:37px 0;
}

/* Banner Style*/
.banner-bg{
    
}

.font-white{
    color: #ffffff;
}



/* Services */
.services{
    padding-top: 241px;
    padding-bottom: 106px;
}

.service-card{
    padding:70px 28px 65px;
    border: 1px solid #ffc5c2;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: 0.5s;
}

.service-bg{
    

}

/* We Care Style*/
.we-care{
    padding-top: 73px;
    padding-bottom: 24px;
}

.boxed-btn{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    padding: 17px 55px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 30px;
    background-color: #ff471a;  
}

/* Our Teanm */
.team{
    padding-bottom: 200px;
    padding-top: 125px;
}

.member-name{
    position: relative;
    transform: translateY(-20px);
    transition: 0.3s;
}
.member-inner{
    border-radius: 5px;
    display: inline-block;
    padding: 16px 40px 11px;
    background-color: #ffffff;
    box-shadow: 0 16px 35px 0 rgba(0, 0, 2, .08);
}

/* Why go Anipat */
.boxed-btn-2{
    background: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    color:#ff3500;
    padding: 17px 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 30px;
}

/* Footer */
.footer{
    padding-top: 130px;
    padding-bottom: 110px;
}

.f-25{
    font-size: 25px;
}